{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Liste des films</h1>
<div class="row">
    {% for film in films %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if film.poster_path %}
            <img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }}" class="card-img-top" alt="{{ film.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ film.title }}</h5>
                <p class="card-text">{{ film.overview }}</p>
                <a href="{{ url_for('film_details', film_id=film.id) }}" class="btn btn-primary">Voir les détails</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for film in custom_films %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if film.poster_path %}
            <img src="{{ film.poster_path }}" class="card-img-top" alt="{{ film.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ film.title }}</h5>
                <p class="card-text">{{ film.overview }}</p>
                <a href="{{ url_for('edit_film', film_id=film._id) }}" class="btn btn-primary">Modifier</a>
                <form action="{{ url_for('delete_film', film_id=film._id) }}" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film?')">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
